.home{
    /* border: 1px solid black; */
}

.test{
    border: 1px solid black;
    /* padding: 10% 0; */
}

.home-title{
    text-align: center;
    /* font-size: 30px;
    padding: 1% 0; */
}

.home-message{
    margin-bottom: 1%;
}

.or{
    display: inline;
    text-align: center;
    padding: 0 6%;
    /* vertical-align: text-bottom; */
    /* margin-top: 0.5%; */
    /* margin-bottom: auto; */
    /* border: 1px solid black */
}

/* .home-btn{
    width: 300px !important;
    height: 75px !important;
    vertical-align: center !important;
} */
/* .activity-type-form{
    padding-top: 10% !important;
} */
.range-padding{
    padding-top:2% !important;
}

.random-btn{
    margin-bottom: 2% !important;
}

.range-label{
    padding-left: -2.5% !important;
}

.results-container{
    
}

.results-display{
    margin: 1% !important;
    padding: 1% !important;
    text-align: center;
    /* background: #96d6e1; */
    border-radius: 10px;
}

.save-btn{
    text-align: center !important;
    padding: 0 -10% !important;
    margin-left: 1% !important;
    color: white !important;
}

.save-btn i{
    text-decoration: none;
    color: white !important;
}

.results{
    font-size: 200%;
    font-weight: 200%;
}

.saved-cure{
    padding: 1% !important;
    /* border-radius: 10px; */
}

.saved-Activity-container,
.saved-Joke-container{
    margin: 5px 0 !important;
}

.del-btn{
    border-radius: 50px !important;
}
